.venv/
.direnv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/

.local/*
!.local/.gitignore

workspace/*
!workspace/.gitkeep

index/*
!index/.gitkeep

memory/**
!memory/**/
!memory/.gitkeep
!memory/**/.gitkeep

assets/**
!assets/**/
!assets/.gitkeep
!assets/**/.gitkeep
