.venv/
.direnv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
node_modules/
config.toml
logs/

.local/*
!.local/.gitignore

tmp/*
!tmp/.gitkeep

index/*
!index/.gitkeep

memory/**
!memory/**/
!memory/.gitkeep
!memory/**/.gitkeep

assets/**
!assets/**/
!assets/.gitkeep
!assets/**/.gitkeep
